openapi: 3.0.3
info:
  title: 360ag CP Authorisations API
  version: 1.0.0
  description: API for retrieving crop protection and adjuvant authorisations, restrictions, and mapping data.
servers:
  - url: https://api.360ag.io/functions/v1
    description: Production Server

security:
  - ApiKeyAuth: []

paths:
  /get_crops:
    get:
      summary: Retrieve available crops
      description: Returns a list of all crops mapped to the authenticated client's catalogue.
      operationId: getCrops
      responses:
        '200':
          description: Successful response containing an array of available crops.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Crop'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /products_by_crop:
    post:
      summary: Get lightweight product list by crop
      description: Returns a simplified list of approved products for the specified crop(s) and date.
      operationId: getProductsByCrop
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductRequestPayload'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProductsByCrop'
              example:
                data:
                  - mapp_number: "19234"
                    name: "AgriGuard Pro"
                    final_sale_distributor: "2031-06-30"
                    final_use: "2032-06-30"
                    active_ingredients:
                      - "Azoxystrobin"
                      - "Epoxiconazole"
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /product_restrictions_by_crop:
    post:
      summary: Get detailed product restrictions by crop
      description: Returns the full, detailed hierarchy of restrictions, buffers, and active ingredients (including Adjuvants) for the specified crop(s).
      operationId: getProductRestrictionsByCrop
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductRequestPayload'
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/DetailedProduct'
              example:
              {
                "data": [
                  {
                      "MAPP_number": "15026",
                      "Product_name": "Aviator 235 Xpro",
                      "extent_of_authorisation": "UK",
                      "marketing_company": "Bayer CropScience Limited",
                      "formulation": "Emulsifiable concentrate",
                      "product_application_units": "l/ha",
                      "first_issue_date": "2017-02-06",
                      "expiry_date": "2026-05-31",
                      "final_use": "2027-11-30",
                      "field_of_use": "Fungicide",
                      "LERAP_eligible": true,
                      "low_drift_nozzle": null,
                      "operator_protection_statements": "(1) Engineering control of operator exposure must be used where reasonably practicable in addition to the following personal protective equipment:\n(a) Operators must wear suitable protective clothing (coveralls), suitable protective gloves and face protection (faceshield) when handling the concentrate.\n(b) Operators must wear suitable protective clothing (coveralls) when applying the product.\n(c) Operators must wear suitable protective clothing (coveralls) and suitable protective gloves when handling contaminated surfaces.\n(2) However, engineering controls may replace personal protective equipment if a COSHH assessment shows that they provide an equal or higher standard of protection.",
                      "environmental_protection_statements": "(1) Since there is a risk to aquatic life from use, users not applying the statutory buffer zone must either themselves carry out or ensure that someone else has carried out a Local Environment Risk Assessment for Pesticides (LERAP) on their behalf before each spraying operation from a horizontal boom sprayer. Users must not allow direct spray from such sprayers to fall within 5m of the top of the bank of any static or flowing waterbody or within 1m of a ditch which is dry at the time of application (these distances to be measured as set out in the booklet 'Local Environment Risk Assessment for Pesticides - Horizontal Boom Sprayers' and any amendments that are made to it) unless:\n(a) The LERAP indicates that a narrower buffer zone will be sufficient; and\n(b) Any measures indicated by the LERAP as justifying the narrower buffer zone are complied with in full and in accordance with any conditions applicable to them.\nSpray must be aimed away from water.\nSpray from hand-held sprayers must not be allowed to fall within 1 m of the top of the bank of a static or flowing waterbody. Spray must be aimed away from water.\n(2) The results of the LERAP must be recorded in written form and must be available for a period of three years for inspection to any person entitled to exercise enforcement powers under or in connection with the Plant Protection Products Regulations 2011 or the Plant Protection Products (Sustainable Use) Regulations 2012. (An electronic record will satisfy the requirement for a written record, providing it is similarly available for inspection and can be copied).\n(3) Detailed guidance on LERAPs and how to conduct a LERAP are contained in the booklet 'Local Environment Risk Assessment for Pesticides - Horizontal Boom Sprayers', available from HSE Chemicals Regulation Division's website. All LERAPs must be carried out in accordance with this Guidance and any amendments that are made to it.\n(4) To protect aquatic organisms respect an unsprayed buffer zone to surface water bodies in line with LERAP requirements.",
                      "specific_restriction_statements": "(1) This product qualifies for inclusion within the Local Environment Risk Assessment for Pesticides (LERAP) scheme. Before each spraying operation from a horizontal boom sprayer, either a LERAP must be carried out in accordance with the 'Local Environment Risk Assessment for Pesticides - Horizontal Boom Sprayers' booklet available from the HSE Chemicals Regulation Division's website or the statutory buffer zone must be maintained. The results of the LERAP must be recorded and kept available for three years.\n(2) Non-returnable containers must not be re-used for any purpose.",
                      "crop_qualifier_restrictions": [
                          {
                              "client_crop_id": 16,
                              "product_crop_qualifier": "winter",
                              "eamu_number": null,
                              "product_max_total_dose": null,
                              "product_max_total_dose_period": null,
                              "product_max_treatments": 2,
                              "product_max_treatments_period": null,
                              "product_app_interval": null,
                              "product_harvest_interval": null,
                              "product_max_concentration_percent": null,
                              "product_min_water_rate_l-ha": null,
                              "product_exclusive_timed_restrictions": null,
                              "target_organisms": [],
                              "product_timed_restriction_details": [
                                  {
                                      "product_earliest_date": null,
                                      "product_earliest_growth_stage": null,
                                      "product_latest_date": null,
                                      "product_latest_growth_stage": "Before grain milky ripe stage",
                                      "product_timed_max_application_rate": 1.25,
                                      "product_timed_max_total_dose": null,
                                      "product_timed_max_treatments": null
                                  }
                              ]
                          }
                      ],
                      "adjuvant_crop_restrictions": [],
                      "product_active": [
                          {
                              "active_name": "Bixafen",
                              "active_quantity": 75,
                              "active_quantity_units": "g/l",
                              "active_crop_qualifier_restrictions": []
                          },
                          {
                              "active_name": "Prothioconazole",
                              "active_quantity": 160,
                              "active_quantity_units": "g/l",
                              "active_crop_qualifier_restrictions": []
                          }
                      ],
                      "active_group": [],
                      "arthropod_buffer": [],
                      "aquatic_buffer": [
                          {
                              "client_crop_id": 16,
                              "aquatic_crop_qualifier": "winter",
                              "hbs_buffer_width": 5,
                              "baas_buffer_width": null,
                              "handheld_buffer_width": 1
                          }
                      ]
                  },
                  - MAPP_number: "12629",
                    Product_name: "Hallmark with Zeon Technology",
                    extent_of_authorisation: "UK",
                    marketing_company: "Syngenta UK Limited",
                    formulation: "Capsule suspension",
                    "product_application_units": "l/ha",
                    first_issue_date: "2024-01-15",
                    expiry_date: "2030-12-31",
                    final_sale_distribution: "2031-06-30",
                    final_use: "2032-06-30",
                    field_of_use: "Insecticide",
                    LERAP_eligible: false,
                    low_drift_nozzle: "3*",
                    operator_protection_statements: "(1) Engineering control of operator exposure must be used where reasonably practicable in addition to the following personal protective equipment:\nOperators must wear suitable protective gloves when handling the product or handling contaminated surfaces.",
                    environmental_protection_statements: "(1) Horizontal boom sprayers must be fitted with three star drift reduction technology for all uses.",
                    specific_restriction_statements: "(1) This product must not be applied via hand-held equipment.\n(2) Buffer zones greater than 5m are NOT eligible for buffer zone reduction under the LERAP scheme.\n",
                    product_application_units: "L/ha"
                    crop_qualifier_restrictions:
                      - client_crop_id: 42
                        product_crop_qualifier: "Outdoor"
                        eamu_number: "20210145"
                        product_max_total_dose: 2.0
                        product_max_total_dose_period: 365
                        product_max_treatments: 2
                        product_max_treatments_period: null
                        product_app_interval: 14
                        product_harvest_interval: 35
                        product_max_concentration_percent: 1.0
                        product_min_water_rate_l-ha: 200
                        product_exclusive_timed_restrictions: false
                        "target_organisms": [
                        "Beet Western Yellow Virus (Aphid Vectors)",
                        "Botrytis"
                        ],
                        product_timed_restriction_details:
                          - product_earliest_date: null
                            product_earliest_growth_stage: "GS31"
                            product_latest_date: null
                            product_latest_growth_stage: "GS59"
                            product_timed_max_application_rate: 1.0
                            product_timed_max_total_dose: 2.0
                            product_timed_max_treatments: 2
                    adjuvant_crop_restrictions:
                      - client_crop_id: 42
                        restrictions:
                          - product_crop_qualifier: "Winter Wheat"
                            ppp_descriptor: "Tank Mix Partner A"
                            ppp_name_mapp: "Partner MAPP 98765"
                            ppp_adjuvant_rec: "Use with approved adjuvant"
                            max_ppp_rate: 1.5
                            product_max_concentration_percent: null
                            product_max_treatments: 1
                            product_max_treatments_period: null
                            product_max_treatments_inherited: true
                            product_earliest_application: "GS30"
                            product_latest_application: "GS59"
                            product_latest_application_inherited: false
                            product_harvest_interval: 35
                            ppp_active: "Adjuvant Active X"
                    product_active:
                      - active_name: "Azoxystrobin"
                        active_quantity: 250
                        active_quantity_units: "g/L"
                        active_crop_qualifier_restrictions:
                          - client_crop_id: 42
                            active_crop_qualifier: "Winter Wheat"
                            active_max_total_dose: 500
                            active_max_total_dose_period: null
                            active_max_treatments: 2
                            active_max_treatments_period: null
                            active_app_interval: 14
                            active_harvest_interval: 35
                            active_max_concentration_percent: null
                            'active_min_water_rate_l-ha': 200
                            active_timed_restriction_details:
                              - active_earliest_date: null
                                active_latest_date: null
                                active_timed_max_application_rate: 250
                    active_group:
                      - client_crop_id: 42
                        active_group_name: "QoI Fungicides"
                        active_group_max_treatments: 2
                        active_group_max_treatments_period: null
                        active_group_app_interval: 14
                    arthropod_buffer:
                      - client_crop_id: 42
                        arthropod_crop_qualifier: null
                        buffer_width: 5
                    aquatic_buffer:
                      - client_crop_id: 42
                        aquatic_crop_qualifier: null
                        hbs_buffer_width: 5
                        baas_buffer_width: 5
                        handheld_buffer_width: 1
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key

  responses:
    BadRequestError:
      description: Bad Request (e.g., missing parameters)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    UnauthorizedError:
      description: Unauthorized (Invalid or missing API key)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    InternalServerError:
      description: Internal Server Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

  schemas:
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          example: "At least one crop_id and a date are required"

    Crop:
      type: object
      properties:
        crop_id:
          type: integer
          example: 42
        client_crop_name:
          type: string
          example: "Winter Wheat"

    ProductRequestPayload:
      type: object
      required:
        - date
      properties:
        crop_ids:
          type: array
          description: Array of client crop IDs.
          items:
            type: integer
          example: [42, 45]
        crop_id:
          type: integer
          description: Single client crop ID (alternative to crop_ids array).
          example: 42
        date:
          type: string
          format: date
          example: "2024-05-15"
        mapp_number:
          type: integer
          description: Optional MAPP number to filter results down to a specific product.
          example: 19234

    ProductsByCrop:
      type: object
      properties:
        mapp_number:
          type: string
        name:
          type: string
        final_sale_distributor:
          type: string
          nullable: true
        final_use:
          type: string
          nullable: true
        active_ingredients:
          type: array
          items:
            type: string

    DetailedProduct:
      type: object
      properties:
        MAPP_number:
          type: string
        Product_name:
          type: string
        extent_of_authorisation:
          type: string
        marketing_company:
          type: string
        formulation:
          type: string
        first_issue_date:
          type: string
          format: date
        expiry_date:
          type: string
          nullable: true
        final_sale_distribution:
          type: string
          nullable: true
        final_use:
          type: string
          nullable: true
        field_of_use:
          type: string
        product_application_units:
          type: string
          nullable: true
        crop_qualifier_restrictions:
          type: array
          items:
            $ref: '#/components/schemas/CropQualifierRestriction'
        adjuvant_crop_restrictions:
          type: array
          items:
            $ref: '#/components/schemas/AdjuvantCropRestrictionGroup'
        product_active:
          type: array
          items:
            $ref: '#/components/schemas/ProductActive'
        active_group:
          type: array
          items:
            $ref: '#/components/schemas/ActiveGroupRestriction'
        arthropod_buffer:
          type: array
          items:
            $ref: '#/components/schemas/ArthropodBuffer'
        aquatic_buffer:
          type: array
          items:
            $ref: '#/components/schemas/AquaticBuffer'
        LERAP_eligible:
          type: boolean
          nullable: true
        low_drift_nozzle:
          type: string
          nullable: true
        operator_protection_statements:
          type: string
          nullable: true
        environmental_protection_statements:
          type: string
          nullable: true
        specific_restriction_statements:
          type: string
          nullable: true

    CropQualifierRestriction:
      type: object
      properties:
        client_crop_id:
          type: integer
        product_crop_qualifier:
          type: string
        eamu_number:
          type: string
          nullable: true
        product_max_total_dose:
          type: number
          nullable: true
        product_max_total_dose_period:
          type: integer
          nullable: true
        product_max_treatments:
          type: integer
          nullable: true
        product_max_treatments_period:
          type: integer
          nullable: true
        product_app_interval:
          type: integer
          nullable: true
        product_harvest_interval:
          type: integer
          nullable: true
        product_max_concentration_percent:
          type: number
          nullable: true
        'product_min_water_rate_l-ha':
          type: number
          nullable: true
        product_exclusive_timed_restrictions:
          type: boolean
          nullable: true
        target_organisms:
          type: array
          items:
            type: string
        product_timed_restriction_details:
          type: array
          items:
            $ref: '#/components/schemas/ProductTimedRestriction'

    ProductTimedRestriction:
      type: object
      properties:
        product_earliest_date:
          type: string
          nullable: true
        product_earliest_growth_stage:
          type: string
          nullable: true
        product_latest_date:
          type: string
          nullable: true
        product_latest_growth_stage:
          type: string
          nullable: true
        product_timed_max_application_rate:
          type: number
          nullable: true
        product_timed_max_total_dose:
          type: number
          nullable: true
        product_timed_max_treatments:
          type: integer
          nullable: true

    AdjuvantCropRestrictionGroup:
      type: object
      properties:
        client_crop_id:
          type: integer
        restrictions:
          type: array
          items:
            $ref: '#/components/schemas/AdjuvantRestriction'

    AdjuvantRestriction:
      type: object
      properties:
        product_crop_qualifier:
          type: string
        ppp_descriptor:
          type: string
        ppp_name_mapp:
          type: string
        ppp_adjuvant_rec:
          type: string
        max_ppp_rate:
          type: number
        product_max_concentration_percent:
          type: number
          nullable: true
        product_max_treatments:
          type: integer
          nullable: true
        product_max_treatments_period:
          type: integer
          nullable: true
        product_max_treatments_inherited:
          type: boolean
          nullable: true
        product_earliest_application:
          type: string
          nullable: true
        product_latest_application:
          type: string
          nullable: true
        product_latest_application_inherited:
          type: boolean
          nullable: true
        product_harvest_interval:
          type: integer
          nullable: true
        ppp_active:
          type: string
          nullable: true

    ProductActive:
      type: object
      properties:
        active_name:
          type: string
        active_quantity:
          type: number
          nullable: true
        active_quantity_units:
          type: string
          nullable: true
        active_crop_qualifier_restrictions:
          type: array
          items:
            $ref: '#/components/schemas/ActiveCropQualifierRestriction'

    ActiveCropQualifierRestriction:
      type: object
      properties:
        client_crop_id:
          type: integer
        active_crop_qualifier:
          type: string
        active_max_total_dose:
          type: number
          nullable: true
        active_max_total_dose_period:
          type: integer
          nullable: true
        active_max_treatments:
          type: integer
          nullable: true
        active_max_treatments_period:
          type: integer
          nullable: true
        active_app_interval:
          type: integer
          nullable: true
        active_harvest_interval:
          type: integer
          nullable: true
        active_max_concentration_percent:
          type: number
          nullable: true
        'active_min_water_rate_l-ha':
          type: number
          nullable: true
        active_timed_restriction_details:
          type: array
          items:
            $ref: '#/components/schemas/ActiveTimedRestriction'

    ActiveTimedRestriction:
      type: object
      properties:
        active_earliest_date:
          type: string
          nullable: true
        active_latest_date:
          type: string
          nullable: true
        active_timed_max_application_rate:
          type: number
          nullable: true

    ActiveGroupRestriction:
      type: object
      properties:
        client_crop_id:
          type: integer
        active_group_name:
          type: string
        active_group_max_treatments:
          type: integer
          nullable: true
        active_group_max_treatments_period:
          type: integer
          nullable: true
        active_group_app_interval:
          type: integer
          nullable: true

    ArthropodBuffer:
      type: object
      properties:
        client_crop_id:
          type: integer
        arthropod_crop_qualifier:
          type: string
        buffer_width:
          type: integer

    AquaticBuffer:
      type: object
      properties:
        client_crop_id:
          type: integer
        aquatic_crop_qualifier:
          type: string
        hbs_buffer_width:
          type: integer
        baas_buffer_width:
          type: integer
        handheld_buffer_width:
          type: integer
        handheld_buffer_width:
          type: integer
